.conditional {
  color: darkgrey;
}

.memo {
  color: darkgrey;
  margin-top: 5px;
  font-style: italic;
}

.switchLink {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  color: darkgrey;
  text-decoration: underline;
}
