.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterList {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1rem;
}

.generalLink {
  text-decoration: none;
}

.activeFilter {
  background-color: aquamarine;
}
