.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterList {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.activeFilter {
  background-color: aquamarine;
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.expansionGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.factionList {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  width: 100%;
}

.factionGroup {
  flex: 0 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generalList {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1rem;
  white-space: nowrap;
}
