.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.versionList {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.activeVersion {
  background-color: aquamarine;
}
