.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  margin-top: 1rem;
  height: 6rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  position: relative;
}

.information {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.informationLine {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  flex-direction: row;
  min-height: 1.2rem;
  white-space: nowrap;
  overflow-x: auto;
}

.name {
  margin: 0;
}

.versionList {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.activeVersion {
  background-color: aquamarine;
}

.referencesTitle {
  color: darkgrey;
  display: flex;
}

.referencesItem {
  margin-top: 0.5rem;
}
